.index_body{
    margin: 0;
    background-color: #e9e5e2;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 微軟正黑體 Light;
}


/*選單*/
nav{
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    height: 60px;
    background-color: rgba(66, 66, 65, 0.88);
}

nav>.logo{
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 25px;
    width: 110px;
    height: 35px;
    float: left;
    flex: auto;
}

nav>.product,
.aboutus,
.login {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 17px;
    width: 110px;
    height: 35px;
    float: right;
    flex: none;
}

.nav a{
    text-decoration: none;
    color: #dfdfdb;
}

.nav a:hover{
    text-decoration: none;
    color: #F3CA8E;
}

.search{
    margin-top: 12px;
    font-size: 20px;
    text-align: center;
    height: 35px;
    float: right;
    flex: none;
}

.search1{
    line-height: 22px;
    position: relative;
    
}

nav>.car{
    width: 38px;
    padding: 10px;
    height: 30px;
    text-align: center;
    float: right;
    flex: none;
}

.car_img{
    margin-top: 5px;
    margin-left: -10px;
}

.member_img{
    margin-top: 8px;
    margin-right: -10px;
}

.back_title{
    width: 950px;
    margin: auto;
    margin-top: 100px;
}

.title_word{
    color: #797269;
    font-weight: bold;
    font-size: 20px;
}

/*頁籤內容顯示*/
#tab-1:target ~ #tab > div.tab-content-1,
#tab-2:target ~ #tab > div.tab-content-2{
    border: solid 1px white;
}

#tab{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;/*總寬*/
    background: #e9e5e2;/*上方色塊*/
}

/* 頁籤ul */
#tab>ul{
    overflow: hidden;
    margin: 0;
    padding: 0px 20px 0 0;
}

#tab>ul>li{
list-style-type: none;
}

#tab>ul>li>a{
text-decoration: none;
font-size: 13px;
color: #797269;
float: left;
padding: 10px;
margin-left: 5px;
background-color:rgb(211, 211, 211);
}

/*頁籤div內容*/
#tab>div {
clear:both;
padding:0 15px;
height:0;
overflow:hidden;
visibility:hidden;


}

/*第一筆的底色*/
span:target ~ #tab > ul li:first-child a {
background:rgb(211, 211, 211);
}

span:target ~ #tab > div:first-of-type {
visibility:hidden;
height:0;
padding:0px 15px;
}

span ~ #tab > ul li:first-child a,
#tab-1:target ~ #tab > ul li a[href$="#tab-1"],
#tab-2:target ~ #tab > ul li a[href$="#tab-2"]{
  background: #fff;
}

/*頁籤內容顯示&第一筆*/
span ~ #tab > div:first-of-type,
#tab-1:target ~ #tab > div.tab-content-1,
#tab-2:target ~ #tab > div.tab-content-2{
visibility:visible;
height: 600px;
background: #fff;
}

.none{
  display:none;
}

/*頁籤內容*/
.back_add,
.back_revise,
.back_delet,
.order{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    height: 100px;
    width: 1100px;
}

.smallword{
    color: #797269;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}

.input{
    line-height: 1;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid rgb(64, 64, 64);
    width: 100px;
    padding: 7px;
    color: #706f6e;
    float: left;
}

.input1{
    line-height: 1;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid rgb(64, 64, 64);
    width: 100px;
    margin-left: 10px;
    padding: 7px;
    color: #706f6e;
    float: left;
}

.input2{
    line-height: 1;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid rgb(64, 64, 64);
    width: 150px;
    margin-left: 10px;
    padding: 7px;
    color: #706f6e;
    float: left;
}

.button{
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgb(64, 64, 64);
    width: 53px;
    padding: 5px 0;
    margin-left: 10px;
    color: #797269;
    cursor: pointer;
    float: left;
}

.button:hover,
.button1:hover{
    background-color: #675f56;
    color: white;
}

.backToIndex{
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.button1{
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgb(64, 64, 64);
    width: 58px;
    padding: 5px 0;
    color: #797269;
    cursor: pointer;
   
}

.button_locat{
     margin: 0px auto;
}

.word{
    color: #272727;
    font-size: 14px;
    padding-bottom: 10px;
}

.line{
    background-color:  #797269;
    height: 1px;
    border: none;
    width: 800px;
    margin-left: -1px;
    margin-top: 15px;

}

.button_locat1{
    margin: 0px 400px;
}