body{
    margin: 0;
    background-color: #B1ABA3;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 微軟正黑體 Light;
}
/*選單*/
nav{
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    height: 60px;
    background-color: rgba(66, 66, 65, 0.88);
}

nav>.logo{
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 25px;
    width: 110px;
    height: 35px;
    float: left;
    flex: auto;
}

nav>.product,
.aboutus,
.login {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 17px;
    width: 110px;
    height: 35px;
    float: right;
    flex: none;
}

.nav a{
    text-decoration: none;
    color: #dfdfdb;
}

.nav a:hover{
    text-decoration: none;
    color: #F3CA8E;
}

.search{
    margin-top: 12px;
    font-size: 20px;
    text-align: center;
    height: 35px;
    float: right;
    flex: none;
}

.search1{
    line-height: 22px;
    position: relative;
    
}

nav>.car{
    width: 38px;
    padding: 10px;
    height: 30px;
    text-align: center;
    float: right;
    flex: none;
}

.car_img{
    margin-top: 5px;
    margin-left: -10px;
}

.member_img{
    margin-top: 8px;
    margin-right: -10px;
}

/*廣告*/

.margin{
    height: 570px;
    width: 1000px;
    /* margin-left: 100px;
    margin-right: 30px; */
    margin: auto;
    margin-top: 50px;
}

#advertis{
	width:1000px;
    height: 666px;
	margin:0 auto;
}
/*圖片輪播*/
#wrapper {
	display: block;

	width: 1000px;
	margin: 0 auto;
}

#slide {
	position: relative;
	overflow: hidden;
	height: 570px;


}
#slide ul{
    margin-left: -40px;
}
/* #slide{
	position:relative;
	overflow:hidden;
	height:570px;
} */

#slide ul{
	position:absolute;
	width:4000px;
}

#slide li{
	float:left;
	width:1000px;
	list-style-type:none;
}

hr{
    background-color:  lightgrey;
    height: 1px;
    border: none;
    width: auto;
    margin-top: 15px;
   
}
/* 商品介紹 */

.productMain{
    padding-top: 100px;
    margin: auto;
    width: 1000px;
    height: 1500px;
}

.list{
    display: flex;
    margin-bottom: 10%;
    height: 15%;
}

.productMain h2{
    text-align: center;
    color: #dfdfdb;
    transition: 1.2s;
}
.productMain h2:hover {
    padding-right: 500px;
    letter-spacing: 22px;
}
.lattice{
    width: 30%;
    height: 100%;
    text-align: center;
    margin: auto;
    background-color: #dfdfdb;
    overflow: hidden;
}
.lattice:hover{
    height: 120%;
    transition: 1.2s;
    background-color: black;
}
.lattice:hover img{
    transform: scale(1.2);
    transition: 1.2s;
}
.lattice:hover .productIntro{
    margin-top: 10%;
    transition: 1.2s;
    color: #dfdfdb;
}

.lattice img{
    padding-bottom: 7%;
    padding-top: 5%;
}

a{
    text-decoration: none;
    color: #776e67;
}

.footerMain{
    margin:50px auto;
    width: 500px;
    color: #fff;
    text-align: center;
    font-size: 1px;
}